.NavBar{
    width: 100%;
    display: flex;
    background: #f1f1f1;
    box-shadow: 0px 0px 8px #b4b4b4;
}

.NavLogo{
    font-size: 2rem;
    font-weight: 400;
    color: white;
    padding: 10px;
    margin-top: -7px;
    background: linear-gradient(45deg, #f7286e, #5cb7ff);
}

.link{
    background: white;
    text-decoration: none;
    padding: 17px;
    margin-left: 2px;
    margin-right: 2px;
    color: black;
    text-transform: uppercase;
    align-self: center;
}
.link_active{
    background: #343434;
    text-decoration: none;
    padding: 17px;
    color: white;
    text-transform: uppercase;
    align-self: center;
}
